
# Basic Jekyll gitignores (synchronize to Jekyll.gitignore)
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.vscode
# Additional Ruby/bundler ignore for when you run: bundle install
/vendor
.DS_Store
Gemfile.lock